@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
  --color-brand-blue: #3b82f6;
  --color-brand-cyan: #06b6d4;
  --color-brand-indigo: #6366f1;
  --color-brand-purple: #a855f7;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e2e8f0;
  background-color: var(--color-slate-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
